/* General */

.wow {
	visibility: hidden;
}

/* Header */

nav {
	padding: 10px 0;
	background:none;
}

nav .row {
	display: flex;
	align-items: center;
}

nav h1 {
	font-weight: 700;
	margin: 0;
	color: #fff;
}

nav nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navlinks {
	font-size: 16px;
	font-weight: 700;
	padding: 0 20px;
	margin: 0;
	color: #fff;
}

.navlinks2 {
	font-size: 16px;
	font-weight: 700;
	padding: 0 20px;
	margin: 0;
	color: #fff;
}

nav a.btn p {
	color: #000;
}

nav a:hover {
	text-decoration: none;
}

/* Jumbotron */

.jumbotron {
	display: flex;
	align-items: center;
	background-size: cover;
	height: 450px;
	text-shadow: 0 0.5px 0.5px #000;
}

.jumbotron-projects {
	background-image: url('../images/img_timeline_lakeplacid.jpg');
	background-position: center bottom;
}

.jumbotron-resume {
	background-image: url('../images/img_cottage.jpg');
	background-position: center bottom;
}

.jumbotron-contact {
	background-image: url('../images/img_fire.jpg');
	background-position: center center;
}

.jumbotron-construction {
	background-image: url('../images/img_fire.jpg');
	background-position: center center;
}

.jumbotron h2 {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
}

.jumbotron h3 {
	color: #fff;
	text-shadow: 0.5px 0.5px 0.5px #000;
}

.jumbotron h3 a{
	color: #fff;
}

/* Content */

.page-header {
	border-bottom: 1px solid #000;
}

/* Isotope */

.project {
	margin: 1%;
	border: 1px solid #000;
	width: 48%; 
	height: 510px;
}

.project h1 {
	margin: 0;
	border-bottom: 1px solid #000;
}

.project-image {
	width: 100%;
	margin-bottom: 10px;
}

.project div.col-sm-6 {
	padding: 0;
}

.button-group {
	margin-left: 10px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}

.filter-button {
	background: none;
	width: 40px;
	height: 30px;
	margin-right: 5px;
}

.filter-icons {
	width: 24px;
	height: 24px;
}

/* Footer */

footer {
	margin-top: 30px;
	background-color: #e7e7e7;
	font-size: 12px;
	padding: 20px 0;
}

footer li img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	color: #337ab7;
}

footer li img:hover {
	color: #337ab7;
}

footer div div.row, footer div ul {
	display: flex;
	align-items: center;
}

footer div ul {
	margin: 0;
}