/* For Mobiles */
.grid-item {
	width: 100%;
	height: fit-content;
	margin-bottom: 2%;
}

/* Small */
@media (min-width: 600px) {

.grid-item {
	width: 45%;
	height: fit-content; 
	margin: 0.5%;
}

}

/* Medium */
@media (min-width: 767px) {

.grid-item {
	width: 31%;
	height: fit-content; 
	margin: 0.5%;
}

}

/* Large*/
@media (min-width: 991px) {

.grid-item {
	width: 23%;
	height: fit-content; 
	margin: 0.5%;
}

}

/* Color scheme */
:root {
  --primary-color: #00A5AF;
  --accent-color: #FFA5AF;
  --font-light: #F5F5F5;
  --font-medium: #A1B0B0;
  --font-dark: #768F8F;
}

html, body {
	overflow-x: hidden;
	height: 100%;
}

.wrapper {
	min-height: 100%;
}

#search-div {
	width: fit-content;
	height: fit-content;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.center-fixed {
	position: fixed;
	margin: auto;
}

.top {
	position: relative;
	margin: 2% auto;
}

#intro-hello {
	font-size: 2em;
	margin: 0;
}

#search {
	border: 0;
	outline: none;
	font-size: 2em;
}

.project-image {
	width: 318px;
	height: 180px;
}

.no-style-list {
	list-style-type: none;
	padding: 0;
}

.fa {
	margin-left: 5px;
	margin-right: 5px;
}