body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* Header */

header {
	padding: 20px 0;
}

header .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
	color: #000;
}

header a:not(.btn) p:hover {
	color: #337ab7;
}

header a:hover {
	text-decoration: none;
}

/* Jumbotron */

.jumbotron {
	display: flex;
	align-items: center;
	background-size: cover;
	height: 400px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;
}

/* Footer */

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer li img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	color: #337ab7;
}

footer li img:hover {
	color: #337ab7;
}

footer div.row, footer div ul {
	display: flex;
	align-items: center;
}