html, body {
	overflow-y: hidden;
	margin: 0; 
	padding: 0;
	height: 100%;
	width: 100%;
}

.carousel-main {
	width: 100%;
	height: 100%;
}

.carousel-cell {
	width: 100%;
	height: 100%;
}

.carousel-nav {
	position: fixed;
	bottom: 100px;
	width: 100%;
	height: 10%;
}

.carousel-cell.nav {
	width: 128px;
	height: 128px;
	background-color: #fff;
}

.intro {
	background-size: 100%;
	background: no-repeat center;
	background-image: url("../images/jumbotron_image_1.jpg");
}

.lakeplacid {
	background-position: center;
	background-size: 100%;
	background-image: url("../images/img_timeline_lakeplacid.jpg");
}

.pei {
	background-position: center;
	background-size: 100%;
	background-image: url("../images/img_timeline_pei.jpg");
}

.hopewell {
	background-position: center;
	background-size: 100%;
	background-image: url("../images/img_timeline_hopewell.jpg");
}
